<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="./temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />    -->

    <target xsi:type="File" name="NLogFile" fileName="./Logs/${date:yyyyMMddHH}_Log.txt"
       layout="[${longdate}] [${level}] : ${message}" encoding="utf-8"/>

    <!--<target xsi:type="Mail" 
            name="NLogMail" 
            smtpServer="*邮箱服务器*"  
            smtpPort="端口号"            
            smtpAuthentication="Basic(身份验证方式)"
            smtpUserName="邮件服务器用户名"
            smtpPassword="邮箱密码"
            enableSsl ="false(是否使用安全连接 需要服务器支持)"
            addNewLines="true"
            from="发件邮箱"
            to="XXXX@XX.com , XXXXX@XX.com(收件邮箱 多个以逗号分隔)"
            subject="subject:${machinename}报错(邮件主题)" 
            header="头"
            body="内容"
            footer="尾"
            encoding="utf-8"
            ></target>-->


    <!-- <target xsi:type="Database" 
            name="NLogDB"  
            dbProvider="System.Data.SqlClient"
                commandText="Insert into ErrorLog(ID, Content, CreateTime) Values(@id, @content, @createTime);"
                connectionString="data source=.;initial catalog=NLog;user id=sa;password=你的数据库密码;">
      <parameter name="@id" layout="${guid}" />
      <parameter name="@content" layout="${message}" />
      <parameter name="@createTime" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff} " />
    </target>-->

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="NlogFile" levels="Warn,Debug,Error,Fatal" writeTo="NLogFile"></logger>
    <logger name="NlogMail" levels="Warn,Debug,Error,Fatal" writeTo="NLogMail"></logger>
    <logger name="NlogDB" levels="Warn,Debug,Error,Fatal" writeTo="NLogDB"></logger>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
